@import url("https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@400;600;700;800&family=Montserrat:wght@300;400;500;600;700;800&family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&family=Montserrat:wght@300;400;500;600;700;800&family=Playfair+Display:wght@700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background-image: url(../img/modern.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 983px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__form {
  display: flex;
}
.header__svg-lupa {
  position: absolute;
  z-index: 3;
  left: 172px;
  top: 23px;
}
.header__seting-form {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  background-color: black;
  width: 200px;
  height: 30px;
  border: 1px solid rgb(240, 248, 255);
  border-radius: 18px;
}
.header__ru-uk {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header__ru {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__uk {
  color: #868686;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__nav {
  margin-top: 30px;
}
.header__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header__nav-white {
  z-index: 1;
  position: absolute;
  left: 300px;
}
.header__list1 {
  position: relative;
  z-index: 2;
  color: #090909;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header__list {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */